<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Alejandria Libros</title>
</head>
<body>
    <header>
        <section class="navbar">
            <a href="/"><img src="images/logo.png" alt="logo"></a>
            <div class="navbar-button-container">
                <a href="/"><i class="fas fa-bars"></i></a>
                <a href="/"><i class="far fa-user"></i></a>
                <a href="/"><i class="fas fa-shopping-basket"></i></a>
                <a href="/"><i class="fas fa-search"></i></a>
            </div>
            <div class="bars-information-container">
                <a href="/"></a>
            </div>
        </section>
    </header>
    <main>
        <div>
            <h2>Que hacemos?</h2>
            <p>Somos un website tratando de conectar librerias de barrio con lectores apasionador!</p>
        </div>
        <div>
            <h2>Registrate</h2>
            <button>Lector</button>
            <button>Vendedor</button>
        </div>
        <div>
            <h2>Libros populares</h2>
            <section class="contenedor-libros">
                <article>
                    <h3>
                        Libro 1
                    </h3>
                </article>
                <article>
                    <h3>
                        Libro 2
                    </h3>
                </article>
                <article>
                    <h3>
                        Libro 3
                    </h3>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <div><img src="images/logo-simple.png" alt=""></div>
        <div class="sitemap-container">
            <h3>Site Map</h3>
            <a href="">Home</a>
            <a href="">Categorias</a>
            <a href="">Libros</a>
            <a href="">Sobre nosotros</a>
        </div>
        <div class="newsletter-container">
            <h3>Newsletter</h3>
            <p>Particpa de nuestra newsletter asi podes recibir noticias de todas las nuevas novedades.</p>
            <div id="newsletter-button-input-container">
                <div id="newsletter-input-container">
                    <input type="text">
                </div>
                <div id="newsletter-button-container">
                    <button>Aceptar</button>
                </div>
            </div>
        </div>
        <div id="copyright-container">
            <p>Copyright © Alejandria Libros - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>


<!-- Link for logo logomaker.thehoth.com/?project=38752037
     Link for simple logo logomaker.thehoth.com/?project=38752037
-->