


.about_outer-edge-info{
    width: 100%;
}

.about_container-info{
    margin: 10px;
}


.about-info_container-text{
    margin: 10px;
}


.about-info_container-image{
    margin: 10px;
}

.about-info_outer-edge-image{
    width: 100%;
}

