.delete_outer-edge{
    display: flex;
    justify-content: center;
}



.delete_container{
    width: 100%;
    max-width: 400px;
    justify-self: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.delete_container h2 {
    width: 100%;
}


.delete_container-button{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}