#container-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: greenyellow;
    margin-top: 10px;
    border-radius: 20px;
}

#container-info h2{
    align-self: center;
    margin: 10px;
    font-size: 32px;
}

#container-search-info {
    margin: 10px 10px 20px 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container-search-info input{
    border: none;
    border-radius: 50px 0 0 50px;
    height: 30px;
    padding-left: 10px;
}

#container-search-info button{
    border: none;
    border-radius: 0 50px 50px 0;
    height: 30px;
    background-color: white;
}

#container-search-info button i{
    margin-right: 10px;
}


/*

CAROUSEL FROM HERE ON DOWN

*/


#container-carousel{
    position: relative;
    background-color: greenyellow;
    margin-top: 10px;
    border-radius: 20px;
    height: 468px;
}

#carousel-slide-container{
    background-color: red;
    height: 100%;
    position: relative;
}

.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#carousel-next, #carousel-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

#carousel-next{
    right: 0px;
}

#carousel-next i, #carousel-prev i{
    width: 20px;
    color: blue;
}

#carousel-nav{
    display: flex;
    justify-content: center;
}

.carousel-indicator{
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 3px 10px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-current-indicator{
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-item-info{
    background-color: white;
}

.carousel-item-info h3{
    margin: 10px;
}

.carousel-item-image-container{
    width: 80%;
    margin: 0 10%;
    margin-bottom: 15px;
}

.carousel-item-image-container img{
    width: 100%;
}