
/*

CONTAINER SEARCH

*/




.index_container-search {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 250px;
}

.index_container-search h2{
    margin: 20px;
}

.index_container-search form {
    width: 100%;
}

.index-search_container-form {
    width: 80%;
    margin: 10px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.index-search_container-form input {
    width: 80%;
}

.index-search_container-form button {
    width: 20%;
}



/*


CONTAINER REGISTER


*/




.index_container-register {
    margin-bottom: 20px;
    flex-direction: column;
}

.index_container-register h2 {
    margin: 10px 5px;
    text-align: center;
}

.index-register_container-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}



/*


CONTAINER FORM


*/




.index_container-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.index_container-info h2{
    margin: 10px 5px;
    text-align: center;
    justify-content: center;
}


.index-info_info {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.index-info_info i{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.index-info_info p {
    text-align: center;
}



/*


MEDIA QUERIES


*/




@media(min-width: 481px){
    h2 {
        font-size: 2rem;
    }
    .index-search_container-form {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media(min-width: 768px){
    .index_container-register {
        height: 150px;
        justify-content: space-between;
    }
    .index-info_info{
        margin: 20px 0;
    }
    .index-search_container-form {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        height: 24px;
    }
}
