/*


OVERALL PRODUCTS STYLES


*/



.products_container h2{
    margin: 10px;
}





/*


CONTAINER OF INDIVIDUAL PRODUCT


*/






.products_container-product {
    margin: 10px;
}

.products-product_container-image {
    margin: 15px;
}

.products-product_container-description {
    margin: 0 15px;
}

.products-product_container-description h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.products-product_container-description p {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: darkgreen;
    font-weight: 500;
}

/*


PRODUCTS BUTTONS


*/


.product_container-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 10px;
    width: 100%;
}


/* 


MEDIA QUERIES


 */


 @media(min-width:481px){
     .products_container {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
     }
     .products_container h2 {
         width: 100%;
     }
     .products_outer-edge-product {
         width: 50%;
     }
 }

 @media(min-width:768px){
     
 }

 @media(min-width:900px){
     .products_outer-edge-product {
         width: 25%;
     }
     .products-product_container-image {
         margin: 10px;
     }
}