*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: block;
    width: 90%;
    margin: 0 5%;
}

body{
    background-color: white;
    font-family: 'Open sans' , sans-serif;
    overflow-x: hidden;
}


/*

HEADER STYLES!!!

*/



.header_container-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header_container-image {
    width: 80%;
}

.header-top_container-icon {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-top_container-icon button{
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.header-top_container-icon button i{
    font-size: 1.5rem;
}

/*


BURGUER NAV


*/


.header-top_burguer {
    z-index: 1000;
}


.header_container-burguer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgb(33, 129, 21);
    inset: 0 30% 0 0;
    padding: 10rem 2rem;
}


.header-burguer_item {
    margin: 20px 0;
}

.header_visible {
    transform: translateX(0%);
    transition: transform 250ms ease-out;
}

.header_not-visible {
    transform: translateX(-100%);
    transition: transform 250ms ease-in;
}



/*

FOOTER STYLES!!!

*/

footer {
    border-top: black 1px solid;
}


.footer_container-top h3{
    text-align: center;
    margin: 20px 0;
}

.footer_container-top p{
    margin: 10px 5px;
    text-align: center;
}

.footer-top_container-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 30px;
}

.footer-top_container-form input {
    width: 70%;
}

.footer-top_container-form button{
    width: 30%;
}

/*

USUAL THINGS

*/

.container {
    display: flex;
    flex-wrap: wrap;
    border: black 1px solid;
    border-radius: 5px;
}


/*


MEDIA QUERIES


*/





@media(min-width: 481px){
    .header_logo {
        height: 85px;
        width: auto;
    }
    .footer-top_container-form {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media(min-width: 768px){
    .footer-top_container-form {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        height: 24px;
    }
}
