<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Categorias'}) %>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="about_container">
            <div class="title_outer-edge">
                <div class="title_container container">
                    <h2>Sobre nosotros</h2>
                </div>
            </div>
            <div class="about_outer-edge-info">
                <div class="about_container-info container">
                    <div class="about-info_container-text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos quisquam deleniti quidem quam tenetur fugit totam, ea atque odio et, aspernatur porro, commodi inventore placeat. Iure omnis temporibus suscipit.
                        </p>
                    </div>
                    <div class="about-info_outer-edge-image">
                        <div class="about-info_container-image">
                            <img src="/images/alexandry.jpeg" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>
