<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Add product'}) %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="register_outer-edge">
            <div class="register_container container">
                <h2>Crear libro</h2>
                <div>
                    <% if (locals.errors) { %>
                        <p>Errors</p>
                        <% for (let error of errors) { %>
                            <p><%= error.msg %></p>
                        <% } %>
                    <% } %>
                </div>
                <div class="form_container">
                    <form action="/products" method="post">
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="">Nombre:</label>
                                <input type="text" name="name" id="name">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="">Autor:</label>
                                <input type="text" name="author" id="author">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="description">Descripcion:</label>
                                <textarea name="description" id="description" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="price">Precio:</label>
                                <input type="text" name="price" id="price">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="image">Imagen:</label>
                                <input type="file" name="image" id="image">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="gnere">Genero literario:</label>
                                <select name="genre" id="genre">
                                    <option value="Aventura">Aventura</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_container-button">
                            <button type="submit" class="button-regular">Finalizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>