<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Home'}) %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="register_outer-edge">
            <div class="register_container container">
                <h2>Registrar: Lector</h2>
                <div>
                    <% if (locals.errors) { %>
                        <p>Errors</p>
                        <% for (let error of errors) { %>
                            <p><%= error.msg %></p>
                        <% } %>
                    <% } %>
                </div>
                <div class="form_container">
                    <form action="/account/register" method="post">
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="first-name">Nombre:</label>
                                <input type="text" name="firstName" id="firstName">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="last-name">Apellido:</label>
                                <input type="text" name="lastName" id="lastName">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <label for="password">Contrasena:</label>
                                <input type="password" name="password" id="password">
                            </div>
                        </div>
                        <div class="form_outer-edge-input">
                            <div class="form_container-input">
                                <select name="type" id="">
                                    <option value="Lector">Lector</option>
                                    <option value="Vendedor">Vendedor</option>
                                </select>
                            </div>
                        </div>
                        <div class="form_container-button">
                            <button class="button-regular">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>