<div class="footer_container-top">
    <h3>Newsletter</h3>
    <p>Particpa de nuestra newsletter asi podes recibir noticias de todas las nuevas novedades.</p>
    <form action="">
        <div class="footer-top_container-form">
            <input type="text">
            <button>Aceptar</button>
        </div>
    </form>        
</div>
<div class="footer_container-copy">
    <p>Copyright © Alejandria Libros - Todos los derechos reservados</p>
</div>