<section>
    <div class="header_container-top">
        <div class="header-top_container-icon header-top_burguer">
            <button class="header_button-burguer"><i class="fas fa-bars"></i></button>
        </div>        
        <div class="header-top_container-logo">
            <a href="/">Alejandría</a>
        </div>
        <div class="header-top_container-search">
            <div class="header-search_container">
                <form action="">
                    <input type="text">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="icons_right">
            <div class="header-top_container-icon icon_right">
                <a href="/account/favourite"><i class="fas fa-heart"></i></a>
            </div>
            <div class="header-top_container-icon icon_right">
                <a href="/account"><i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>
    <div class="header_container-burguer header_not-visible">
        <a class="header-burguer_item" href="/account">Mi cuenta</a>
        <a class="header-burguer_item" href="/products">Libros</a>
        <a class="header-burguer_item" href="/products/categories">Categorias</a>
        <a class="header-burguer_item" href="/about">Sobre Nosotros</a>
        <a class="header-burguer_item" href="/account/login">Ingresar a tu cuenta</a>
    </div>
</section>