<section>
    <div class="header_container-top">
        <div class="header-top_container-icon header-top_burguer">
            <button class="header_button-burguer"><i class="fas fa-bars"></i></button>
        </div>        
        <div class="header_container-image"><a href="/"><img src="images/logo.png" alt="logo" width="100%" class="header_logo"></a></div>
        <div class="header-top_container-icon">
            <button class="header_button-basket"><i class="fas fa-shopping-basket"></i></button>
        </div>
    </div>
    <div class="header_container-burguer header_not-visible">
        <a class="header-burguer_item" href="/">Mi cuenta</a>
        <a class="header-burguer_item" href="/products">Libros</a>
        <a class="header-burguer_item" href="/">Categorias</a>
        <a class="header-burguer_item" href="/">Sobre Nosotros</a>
        <div>
            <form action="">
                <input type="text" name="" id="" placeholder="Encontra tu libro...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</section>