<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Categorias'}) %>
    <link rel="stylesheet" href="/css/categories.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="categories_container">
            <div class="title_outer-edge">
                <div class="title_container container">
                    <h2>Categorias</h2>
                </div>
            </div>
            <div class="categories_outer-edge-category">
                <form action="">
                    <div class="categories_container-category container">
                        <button>Aventura</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>
